body
{
    background-size:cover !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas
{
    box-shadow: 10px 10px 10px #001485;
    border-radius: 20px;
    margin-top: 30px;
}

#number_of_objects
{
    font-size: 18px;
}
